body{
    margin: 0;
    // background-image: url('../assets/BG.png');
    background-size: auto 70vh;
    background-repeat: no-repeat;
    background-position: 50% 6.5vw;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    
    #login_sec {
        width: 90% !important;
        max-width: none !important;
        left: 5% !important;
    }
    header .sec1 .logo{
        width: 30vw !important;
    }
    header .sec2 #registerBtn{
        margin-right: 20px !important;
    }
    header .sec1{
        padding: 30px 20px !important;
    }
  }
.bg_left{
    position: absolute;
    top:0;
    left: -15vw;
    width: 80vw;
    min-width: 135vh;
     z-index: 99;
    //  max-width: 80vw;
    img{
        position: relative;
        width: 100%;
    }
}
.bg_right{
    position: absolute;
    top:0;
    right: 0;
    height: 60%;
    z-index: 98;
    top:50%;
    transform: translateY(-50%);
    img{
        position: relative;
        height: 100%;
    }
}
.error{
    position: fixed;
    bottom: 0;
    background-color: #ff0000;
    font-family: 'greycliff-medium';
    font-size: 20px;
    line-height: 70px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    transition: transform linear 0.25s;
    z-index: 1000;
    &.active{
        transform: translateY(0%);
    }
}
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 0px 8px 2px #aeaeae;
    .sec1{
        background-color: #ffffff;
        padding: 30px 50px;
        .logo{
            position: relative;
            width: 13vw;
            img{
                position: relative;
                width: 100%;
            }
        }
    }
    .sec2{
        width: calc(100% - 100px - 13vw);
        background-color: #ffffff;//#54a383;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        #registerBtn{
            background-color: #007A96;
            padding: 20px 0;
            font-family: "greycliff-medium";
            font-size: 20px;
            color: #ffffff;
            border-radius: 7px;
            display: flex;
            // width: 40%;
            flex-direction: row;
            justify-content: center;
            // margin: auto;
            // margin-top: 20px;
            cursor: pointer;
            padding: 10px 40px;
            margin-right: 40px;
            &:hover{
                background-color: #ffffff;
                color: #007A96;
            }
        }
    }
}
#login_sec{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 500px;
    margin: auto;
    position: absolute;
    top:60%;
    transform: translateY(-50%);
    left: 10%;
    /* left: 0;
    right: 0; */
    z-index: 101;
    .head{
        color: #007A96;
        font-size: 50px;
        font-family: 'greycliff-bold';//'Montserrat-Bold';
        text-align: center;
        margin-bottom: 10px;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        .field{
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            border-radius: 7px;
            border: 1px solid #c4c4c4;
            overflow: hidden;
            input{
                width: 100%;
                position: relative;
                font-family: 'greycliff-medium';
                font-size: 20px;
                border: none;
                outline: none;
                line-height: 50px;
                text-align: center;
                background-color: #ffffff;
            }
        }
        #forgot_password{
            position: relative;
            font-family: 'greycliff-medium';
            font-size: 20px;
            color: #007A96;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        #loginBtn{
            background-color: #007A96;
            padding: 20px 0;
            font-family: 'greycliff-medium';
            font-size: 20px;
            color: #ffffff;
            border-radius: 7px;
            display: flex;
            width: 40%;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            margin-top: 20px;
            cursor: pointer;
            &:hover{
                background-color: #ffffff;
                color: #007A96;
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    width: 100%;
    font-family: 'greycliff-bold';
    font-size: 16px;
    #registerBtn{
        margin-left: 10px;
        color: #54a383;
        text-decoration: underline;
        cursor: pointer;
    }
}